<html> 
  <head> 
    <title>We're working on it ok.
    </title> 
    <style>@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700);
      html, body{
        height: 100%;
        margin: 0px;
        overflow: hidden;
      }
      div{
        font-family: "Josefin Slab", serif;
        font-size: 190px;
        position: relative;
      }
      .black .container{
        position: absolute;
        bottom: -48px;
      }
      .white .container{
        position: absolute;
        top: -12px;
      }
      div.white{
        color: #7289da;
        background-color: #fcfcfe;
        width: 100%;
        height: 50%;
        padding: 0px !important;
      }
      div.black{
        color: #fcfcfe;
        background-color: #7289da;
        width: 100%;
        height: 50%;
        padding: 0px !important;
      }
    </style> 
  </head> 
  <body> 
    <div class="black"> 
      <div class="container">COMING
      </div>
    </div>
    <div class="white"> 
      <div class="container">SOON
      </div>
    </div>
  </body>
</html>
<%- include('../partials/home/footer') %> 
  <%- include('../partials/home/end') %>
