<div class="container pb-5">
  <footer class="lead-footer shadow px-5">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <p class="pb-2 mb-4 text-gray">
          Team Tritan is a team of frontend and backend developers, with a focus on Javascript.
        </p>
        <script type="text/javascript">
          (function () {
            var c = document.createElement("link");
            c.type = "text/css";
            c.rel = "stylesheet";
            c.href = "https://images.dmca.com/badges/dmca.css?ID=4c8ec8e3-9e4d-457a-adb1-1b15cf0cc7fe";
            var h = document.getElementsByTagName("head")[0];
            h.appendChild(c);
          })();
        </script>
        <div id="DMCA-badge">
          <div class="dm-1 dm-1-b" style="left: 0px; background-color: rgb(114, 136, 218)">
            <a href="https://www.dmca.com/" title="DMCA">DMCA</a>
          </div>
          <div class="dm-2 dm-2-b">
            <a
              href="http://www.dmca.com/Protection/Status.aspx?ID=4c8ec8e3-9e4d-457a-adb1-1b15cf0cc7fe"
              title="DMCA"
              >PROTECTED</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-5 ml-md-auto">
        <div class="row">
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="/" class="nav-link">Home </a>
              <a href="/about" class="nav-link">About </a>
              <a href="/dashboard" class="nav-link">Manage </a>
              <a href="/api" class="nav-link">API </a>
            </nav>
          </div>
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="/status" class="nav-link">Status </a>
              <a href="/docs" class="nav-link">Docs </a>
              <a href="/support" class="nav-link">Support</a>
              <a href="/contact" class="nav-link">Open a Ticket </a>
            </nav>
          </div>
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="/privacy-policy" class="nav-link">Privacy </a>
              <a href="/terms-of-service" class="nav-link">TOS </a>
              <a href="/api/v1/me" class="nav-link">My Data </a>
              <a href="/api/v1/data-removal" class="nav-link">Data Removal </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column flex-sm-row flex-wrap justify-content-between mt-4">
        <nav class="lead-social-menu mb-4 mb-sm-0 text-gray">
          <a href="https://gitlab.com/team-tritan"> <i data-feather="gitlab"> </i> Gitlab </a>
        </nav>
        <p class="footer-text text-gray order-sm-first">© 2021 Team Tritan. All Rights Reserved.</p>
        <p class="footer-text text-gray order-sm-third">Not affiliated with Discord.</p>
      </div>
    </div>
  </footer>
</div>
