<!DOCTYPE html>
<html lang="en"> 
  <%- include('../partials/home/head') %>  
    <header> 
      <%- include('../partials/home/nav') %> 
        <div class="bg-dark landing-sass-header-content" style=background-image:url(/assets/img/header-bg2.png)> 
          <div class="container"> 
          </div>
        </div>
        <div class="text-center landing-sass-header-img-wrapper"> 
          <img src="/assets/img/helpform.png" alt="header-img" class="img-fluid" width="505px"> 
        </div>
        </header> 
      <main> 
        <div class="container"> 
          <section class="mb-5"> 
            <div class="row"> 
              <div class="col"> 
                <h2 align='center'>Submit a Ticket
                </h2>
                <br>
                <br>
                <iframe sandbox="allow-scripts allow-popups allow-forms allow-same-origin" width="100%" height="700px" style="border: 0; overflow: hidden; overflow-x: auto" src="https://forms.helpdesk.com?licenseID=866530817&caption=At%20Team%20Tritan%2C%20we%20understand%20the%20importance%20of%20personalized%20feedback%20versus%20just%20online%20guides%20and%20docs.%20Although%20we%20may%20be%20busy%20at%20times%2C%20we%20can%20reassure%20you%20that%20all%20inquiries%20will%20be%20answered%20within%2024-48%20hours%20through%20our%20ticketing%20system.&header=Contact%20Us&confirmation=Thank%20you%20for%20your%20support%2C%20we%20will%20get%20back%20with%20you%20shortly.&teamID=e6972790-2df6-4063-888c-7fe6874c3573">
                  Your browser does not allow embedded content.
                </iframe>
              </div>
            </div>
          </section> 
          </main> 
        <%- include('../partials/home/footer') %> 
          <%- include('../partials/home/end') %>
