<!DOCTYPE html>
<html lang="en"> 
  <%- include('../partials/home/head') %>  
    <header> 
      <%- include('../partials/home/nav') %> 
        <div class="bg-dark landing-sass-header-content" style=background-image:url(/assets/img/header-bg2.png)> 
          <div class="container"> 
          </div>
        </div>
        <div class="text-center landing-sass-header-img-wrapper"> 
          <img src="/assets/img/privacypolicy.png" alt="header-img" class="img-fluid" width="505px"> 
        </div>
        </header> 
      <main> 
        <div class="container"> 
          <section class="mb-5"> 
            <div class="row"> 
              <div class="col"> 
                <br>
                <h3 class='text-muted'>Website 
                </h3> 
                <p class='text-muted'>Team Tritan and it's services use Discord for authentication and in place of having our own accounts. Because of this we store your Discord ID in our secure databases. While logged in to the website, any account-linked action you perform, such as voting, will be stored with a reference to your Discord ID. Additionally, any data you submit, such as bots or votes, may be stored and displayed on our site. 
                </p>
                <p class='text-muted'>Your privacy is important to us. It is Team Tritan's policy to respect your privacy regarding any information we may collect from you across our website, 
                  <a href="https://tritan.gg">https://tritan.gg 
                  </a>, and other sites we own and operate. 
                </p>
                <p class='text-muted'>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used. 
                </p>
                <p class='text-muted'>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification. 
                </p>
                <p class='text-muted'>We don’t share any personally identifying information publicly or with third-parties, except when required to by law. 
                </p>
                <p class='text-muted'>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies. 
                </p>
                <p class='text-muted'>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services. 
                </p>
                <p class='text-muted'>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us. 
                </p>
                <br>
                <br>
                <h3 class='text-muted'>Bot 
                </h3> 
                <p class='text-muted'> The following may be collected via user run command, and may be entered by the user, voluntarily. This data is not collected automatically. When providing data in this way, you forego any rights to the content of the data provided. 
                </p>
                <p class='text-muted'>- Server configurations (guild region, guild name, guild id, guild icon, owner tag, owner id) 
                </p>
                <p class='text-muted'>- List of server's members 
                <p class='text-muted'>- List of server's roles 
                </p>
                <br>
                <p class='text-muted'> The following will be collected automatically when a server administrator configures the bot to perform checks for news or another automated feature within Tritan Bot. These features are not enabled automatically, and therefore the following will not be collected automatically unless the corresponding feature is enabled by the server administrator. 
                </p>
                <p class='text-muted'>Server configurations (channel names, channel ids, member names, member ids) 
                </p>
                <br>
                <p class='text-muted'>- The following is collected automatically when Tritan Bot joins a server. This data is used to provide statistics or server information. 
                </p>
                <p class='text-muted'>- Server configurations (region, name, id, creation date, icon url, owner tag, owner id, large status) 
                </p>
                <p class='text-muted'>- Server ownership 
                </p>
                <p class='text-muted'>- Server member count 
                </p>
                <p class='text-muted'>- Server role count 
                </p>
                <p class='text-muted'>- Server channel count 
                </p>
                <p class='text-muted'>- Server availability 
                </p>
                <p class='text-muted'>- List of server's roles 
                </p>
                <br>
                <p class='text-muted'> The following is collected when a user has access to the Tritan Biot Admin Web Panel via Discord Oauth2 in order to verify identity and accessibility to admin services on Tritan Bot. (This is only applicable to Tritan Bot developers, and thus is not shared with anyone.) 
                </p>
                <p class='text-muted'>- Discord Username 
                </p>
                <p class='text-muted'>- Discord ID 
                </p>
                <p class='text-muted'>- Discord Avatar 
                </p>
                <p class='text-muted'>- Discord Account email address 
                </p>
                <p class='text-muted'>- Is server owner? 
                </p>
                <p class='text-muted'>- Is server administrator? 
                </p>
                <br>
                <p class='text-muted'> All data is stored on secured servers. Maximum efforts are taken to keep collected data, as defined above, protected, but absolute security cannot be guaranteed. We are not liable for any damages or stolen information, in which we collect, from our servers. 
                </p>
                <br>
                <p class='text-muted'> By being a member of a server which uses Tritan Bot's services or features, you are consenting to the policies outlined in this agreement. If you, the server member, do not agree with any policies outlined in this agreement, you have the right to leave the server in which this bot is a part of. 
                </p>
                <br>
                <p class='text-muted'> By adding Tritan Bot to your server, you are consenting to the policies outlined in this agreement. If you, the server administrator, do not agree with any of the policies outlined in this agreement, you have the right to remove Tritan Bot from your server. 
                </p>
                <br>
                <p class='text-muted'>Team Tritan and it's developers reserve the right to blacklist any user or guild for any reason given. Team Tritan's services are offered as is and are subject to change. 
                </p>
                <br>
                <p class='text-muted'>By being a member of the Team Tritan Team and having access to the Tritan Bot Admin Web Panel, you are consenting to the policies outlined in this agreement. If you, the service user, do not agree with any policies outlined in this agreement, you have the right to ask for removal of your access to the services. 
                </p>
                <p class='text-muted'>- To request a copy of your data, or to request data removal, please sign into the dashboard 
                  <a style='color: #7289DA' href='/dashboard'>here
                  </a>. 
                </p>
                <br>
                <br>
              </div>
              </section> 
            </main> 
          <%- include('../partials/home/footer') %> 
            <%- include('../partials/home/end') %>